# === .NET Build ===
bin/
obj/
out/
*.exe
*.dll
*.app
*.pdb

# === Rider & IDE Files ===
.idea/
*.sln.iml
*.user
*.suo
*.sln.docstates
*.vs/
*.vscode/

# === Logs ===
*.log
Logs/
logs/
log/

# === User Secrets, Local Settings ===
.git
*.secret
*.key
secrets/
.env

# === App Settings ===
appsettings.Development.json
appsettings.Local.json
appsettings.*.local.json
appsettings.*.Development.json

# === EF Core ===
*MigrationsSnapshot.cs
Migrations/

# === Coverage / Test ===
TestResults/
coverage/
coverage-report/
*.coverage
*.coveragexml

# === Docker ===
*.pid
docker-compose.override.yml

# === Others ===
*.db
*.sqlite
*.nupkg
*.tgz
*.DS_Store
Thumbs.db



